.git
.github
.gitignore
.vscode
.idea

node_modules
public/hot
public/storage
storage/*.key
vendor

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

docker-compose*.yml
.dockerignore
.env.*
.env.local

bootstrap/cache/*.php
bootstrap/cache/*
